on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
      tags:
        description: 'Validate Swagger.yaml'

jobs:
  validate_swagger:
    runs-on: ubuntu-latest
    name: Validate Swagger
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: yarn
      - name: Validate OpenAPI definition
        run: yarn validate
